* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  min-height: 100%;
  width: 100%;

  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #f9f9f9;
}

.container {
  display: table;
  min-height: 100%;
}

.table-bordered td {
  width: 33%;
  height: 200px;
  text-align: center;
}

.row {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

h1 {
  font-size: 150px;
  margin-top: 180px;
  font-family: 'Lobster Two', cursive;
  text-align: center;
}

h2 {
  text-align: center;
}

h1 + h2 {
  font-size: 40px;
}

.lead {
  text-align: justify;
  font-size: 30px;
}

h2 + .lead {
  margin-top: 100px;
}

h2 + table {
  margin-top: 100px;
}

.table-bordered > tbody > tr > td {
  vertical-align: middle;
  color: #FFF;
  text-shadow: 0 0 1px rgba(0, 0, 0, .3);
}

.table-bordered > tbody > tr:first-child > td:nth-child(1) {
  background: #EA3556;
}

.table-bordered > tbody > tr:first-child > td:nth-child(2) {
  background: #61D2D6;
}

.table-bordered > tbody > tr:first-child > td:nth-child(3) {
  background: #ED146F;
}

.table-bordered > tbody > tr:last-child > td:nth-child(1) {
  background: #EDDE45;
}

.table-bordered > tbody > tr:last-child > td:nth-child(2) {
  background: #FE5A27;
}

.table-bordered > tbody > tr:last-child > td:nth-child(3) {
  background: #2AEA8A;
}

.menu {
  list-style: none;
  margin: 150px auto;
  padding: 0;
  text-align: center;
}

.menu li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.menu li a {
  padding: 10px 15px;
  margin: 0;
  color: #333;
  text-decoration: none;
  outline: none;
}

.menu li a:hover {
  background: #333;
  color: #f9f9f9;
  transition: all .5s ease;
  outline: none;
}

@media screen and (min-width: 64em) {
  h1 {
    font-size: 150px;
  }

  h2 {

  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  h1 {
    font-size: 80px;
  }

  h2 {

  }
}

@media screen and (max-width: 42em) {
  h1 {
    font-size: 100px;
  }

  h2 {

  }
}
